node_modules
package-lock.json
python-overrides.tgz
python-overrides.whl
*.swp
*.swo
*-v0
__pycache__
micromantid-*-cp312-cp312-pyodide_2024_0_wasm32.whl
mslice-*-py2.py3-none-any.whl
python-overrides-*-py2.py3-none-any.whl
py_src/README.md
bk
tmp

mantid/mantid
mantid/pychop
mantid/mantidqtinterfaces
mantid/mantid_instruments

py_src/mantidqtinterfaces
py_src/pychop
py_src/mantid_instruments
py_src/mantid/plots/axesfunctions.py
py_src/mantid/plots/datafunctions.py
py_src/mantid/plots/mantidimage.py
py_src/mantid/plots/utility.py
py_src/mantid/plots/quad_mesh_wrapper.py
py_src/mantid/plots/resampling_image/
py_src/mantid/plots/modest_image/
